services:
  - type: web
    name: oneiric-backend
    runtime: docker
    dockerfilePath: ./backend/Dockerfile
    dockerContext: ./backend
    envVars:
      - key: NEON_DB_URL
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: GROQ_API_KEY
        sync: false
      - key: PIXAZO_API_KEY
        sync: false
      - key: PORT
        value: 10000
    healthCheckPath: /
    autoDeploy: true

  - type: web
    name: oneiric-frontend
    runtime: static
    buildCommand: cd frontend && npm install && npm run build
    staticPublishPath: ./frontend/dist
    pullRequestPreviewsEnabled: true
    envVars:
      - key: VITE_API_URL
        fromService:
          type: web
          name: oneiric-backend
          envVarKey: RENDER_EXTERNAL_URL
    routes:
      - type: rewrite
        source: /*
        destination: /index.html